* {
    padding: 0;
    margin: 0;
}

.hero_section {
    background-image: url("bck.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 80px 50px;
}

a {
    padding-right: 20px;
    color: white;
    font-size: large;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: black;
    padding-top: 20px;
}

.container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 40vw;
    height: 95%;
}

.content {
    font-size: large;
}

.menu {
    color: white;
    padding: 10px 60px;
    font-size: large;
    font-weight: 200;
}

.subject {
    background-color: black;
}

.about {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 200;
}

.bio {
    color: white;
    text-align: center;
}

.buttons:hover {
    background-color: black;
    color: green;
}

h2 {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding-top: 180px;
    background-color: black;
}

.project {
    display: flex;
    padding: 5px;
    background-color: black;
}

.left, .right {
    flex: 1;
    padding: 5px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    background-color: black;
    text-align: center;
}

.larry {
    flex: 1;
    padding: 3px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 170%;
    font-weight: bold;
}

.buttons {
    background-color: rgb(233, 134, 98);
    padding: 6px 12px;
    color: #fff;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.start {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 200%;
    font-weight: 100;
}

.contact_btn {
    background-color: black;
    padding: 6px 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

hr {}

.keys {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1{
    color: red;
}